.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
color:#ffff;
float:left;
line-height: 30px;
font-size: 24px;
padding:10px;

}
.nav{
background-color: #1d1d1d;
padding:5px;
overflow: hidden;
}
.nav ul{
  border:px solid red;
width:30%;
float:right;
}
.nav li{
list-style-type:none;
display:inline-block;
width:100px;
}
.nav a{

  text-decoration: none;
  color:#ffffff;
  

}
.tblData{
width:70%;
margin:0 auto;

}
table{
border-collapse: collapse;

padding:10px;
width:100%;
}
th{
  background: #5ecbfd;
  color: #ffffff;
}
tr:nth-child(odd){



}
td,th{
  padding:10px;
  border-bottom:1px solid #cccc;
}
td img{
width:70px;

}